    <div class="fright" *ngIf="selectedRestorationSite">
        <h2>
            {{selectedRestorationSite.Map_ID | uppercase}} is my hero
        </h2>
        <p>Notes: {{selectedRestorationSite.Polygon_Note}}</p>
        <p>Year Completed: {{selectedRestorationSite.Year_Complete}}</p>
        <p>Action: {{selectedRestorationSite.Action}}</p>
       
    </div>
 
    <h2> Restoration Sites </h2>
    
    <div>
    <ul class="heroes">
        <li *ngFor="let site of sites" 
        [class.selected]="site === selectedRestorationSite"
        (click)="onSelect(site)">
          <span class="badge">{{site.Map_ID}}</span>  {{site.Action}}
         
        </li>
    </ul>
    </div>
