    <div class="fright" *ngIf="selectedRestorationSite">
        <h2>
            {{selectedRestorationSite.Map_ID | uppercase}} is my hero
        </h2>
        <p>Notes: {{selectedRestorationSite.Polygon_Note}}</p>
        <p>Year Completed: {{selectedRestorationSite.Year_Complete}}</p>
        <p>Action: {{selectedRestorationSite.Action}}</p>
       
    </div>
 
    <h2> Restoration Sites {{actionCount}} sites listed</h2>
    <select  #sel_action (change)="onActionSelect(sel_action.value)" >
         <option *ngFor="let action of actions" [value] = "action" >{{action}}</option>
    </select>
   
    <div>
    <ul class="heroes">
        <li *ngFor="let site of filteredSites" 
        [class.selected]="site === selectedRestorationSite"
        (click)="onSelect(site)">
          <span class="badge">{{site.Map_ID}}</span>  {{site.Action}}
         
        </li>
    </ul>
    </div>
